__pycache__/
*.pyc
.env
.env.*
!.env.example
venv/
.venv/
logs/
*.parquet
.env
.env.*
*.env
*.env.*
!.env.example
!.env.*.example
!*.env.example
.pipeline_state/
udise_data/
*:Zone.Identifier
*:Zone.Identifier
*Zone.Identifier*
